<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	{% extends 'layouts/base.html' %}

	{% block content %}
		<h1>About</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, e
			st suscipit cumque officia aspernatur quis sapiente, sint obcaecati provident deserunt modi sunt veniam veritatis iusto repellat? Facere iste perspiciatis earum neque odio eligendi, natus cum. Sapiente corrupti tenetur iusto dolores, officia dicta beatae rem temporibus. Praesentium optio laborum libero corporis veniam ab, eligendi cumque temporibus aliquam dolor error id fuga rerum sequi non, unde explicabo! Illum, quo. Fugit eius sunt illum repudiandae amet alias nobis, ipsam enim ipsum harum aut, facilis facere in soluta. Accusantium, quia. Impedit quaerat aut magni illum. Repellat blanditiis unde quisquam esse eius
			, ducimus deserunt omnis?
		</p>
		<p>Website created by {{ username }}</p>
	{% endblock %}
</body>
</html>